* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header {
    margin-top: 30px;

    img {
        width: 325px;
    }

    h1 {
        margin-top: 15px;

        font-size: 38px;
        line-height: 150%;
        color: #000000;

        span {

            color: #36d4c1;


        }
    }
}

section {
    padding: 0 10%;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;

    div {
        text-align: left;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 2.3rem;
        border-bottom: 10px solid #0985e3b6;

        &:nth-child(2) {
            border-bottom: 10px solid #00b893bb;

        }

        &:nth-child(3) {
            border-bottom: 10px solid #ff4756af;

        }



        h2 {
            font-size: 20px;
            color: #b2bec3;
        }

        h1 {
            font-size: 32px;
            margin: 20px 0 5px;
        }

        p {
            width: 210px;
            margin-top: 10px;
        }
    }
}


select {
    margin-top: 60px;
    padding: .4rem;
    font-size: 26px;
    outline: none;


}